<h2>Change password for <%= @caseadilla_user.name.strip.empty? ? @caseadilla_user.email : @caseadilla_user.name %></h2>

<%= simple_form_for(@caseadilla_user, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <div class="row">
    <div class="col-lg-6">
      <%= caseadilla_password_field f, f.object, :password, {caseadilla_label: "New password"} %>
    </div>
    <div class="col-lg-6">
      <%= caseadilla_password_field f, f.object, :password_confirmation, {caseadilla_label: "Confirm password"} %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <%= caseadilla_password_field f, f.object, :current_password, {caseadilla_label: "Current password"} %>
    </div>
  </div>

  <p class="submits">
      <%= link_to 'Cancel', :back, :class => 'btn btn-mini btn-danger' %>
    <%= f.submit "Save changes", :class => "btn btn-mini btn-primary" %>
  </p>
<% end %>

<%= content_for :sidebar do %>
  <% if current_user #.is_admin? %>
      <li><%= link_to "#{caseadilla_show_icon('circle-arrow-left')}Back".html_safe, :back %></li>
  <% end %>
<% end %>