<h2>Add a new user</h2>

<%= form_for resource, as: resource_name, url: registration_path(resource_name), html:{ method: :post } do |form|  %>

	<div class="row">
		<div class="col-lg-6">
			<%= caseadilla_text_field form, resource, :first_name %>
		</div>
		<div class="col-lg-6">
			<%= caseadilla_text_field form, resource, :last_name %>
		</div>
	</div>

	<div class="row">
  		<div class="col-lg-6">
			<%= caseadilla_text_field form, resource, :email %>
		</div>
		<div class="col-lg-6">
			<%= caseadilla_time_zone_select form, resource, :time_zone, ActiveSupport::TimeZone.us_zones %>
		</div>
	</div>

	<!-- TODO: User roles -->
	
	<div class="row">
  		<div class="col-lg-6">
			<%= caseadilla_password_field form, resource, :password, {:caseadilla_label => "Password"} %>
		</div>
		<div class="col-lg-6">
			<%= caseadilla_password_field form, resource, :password_confirmation, {:caseadilla_label => "Repeat password"} %>
		</div>
		<div class="col-lg-12 password-checkbox">
			<div class="checkbox">
	      		<label>
	      			<%= check_box_tag :generate_random_password, "1", false, {:id => 'generate-random-password-checkbox'} %> Generate random password
	      		</label>
	    	</div>
	    </div>
	</div>

	<p class="submits">
		<%= link_to 'Cancel', caseadilla_users_path, :class => 'btn btn-mini btn-danger' %>
		<%= form.submit "Add new user", :class => "btn btn-mini btn-primary" %>
	</p>

<% end %>

<%= content_for :sidebar do %>
  <li><%= link_to "#{caseadilla_show_icon('th-list')}Back to list".html_safe, caseadilla_users_path %></li>
<% end %>