<h2>View user</h2>

<%= simple_form_for @caseadilla_user, as: resource_name, url: caseadilla_user_path(@caseadilla_user), html:{ method: :put } do |f| %>

  <div class="row">
    <div class="col-md-6">
      <%= caseadilla_text_field f, f.object, :first_name, {value: @caseadilla_user.first_name, caseadilla_label: "First name"} %>
    </div>
    <div class="col-md-6">
      <%= caseadilla_text_field f, f.object, :last_name, {value: @caseadilla_user.last_name, caseadilla_label: "Last name"} %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= caseadilla_text_field f, f.object, :email, {value: @caseadilla_user.email} %>
    </div>
    <div class="col-md-6">
      <%= caseadilla_time_zone_select f, f.object, :time_zone, ActiveSupport::TimeZone.us_zones, {selected: @caseadilla_user.time_zone} %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= caseadilla_collection_select f, f.object, :role_id, Role.all, :id, :title, {selected: @caseadilla_user.role_id} %>
    </div>
  </div>

  <p class="submits">
      <%= link_to 'Cancel', caseadilla_users_path, :class => 'btn btn-mini btn-danger' %>
    <%= f.submit "Save changes", :class => "btn btn-mini btn-primary" %>
  </p>
<% end %>

<%= content_for :sidebar do %>
  <% if current_user #.is_admin? %>
      <li><%= link_to "#{caseadilla_show_icon('th-list')}Back to list".html_safe, caseadilla_users_path %></li>
      <% if current_user == @caseadilla_user %>        
        <li><%= link_to "#{caseadilla_show_icon('pencil')}Change password".html_safe, change_password_caseadilla_user_path %></li>
      <% end %>
  <% end %>
<% end %>