<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  	<title><%= caseadilla_generate_page_title %></title>
  	<% caseadilla_config_stylesheet_includes.each do |stylesheet| %>
  		<%= stylesheet_link_tag(stylesheet) %>
  	<% end %>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
  	
  	<% caseadilla_config_javascript_includes.each do |javascript| %>
  		<%= javascript_include_tag(javascript) %>
  	<% end %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>

  	<%= csrf_meta_tag %>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <%= javascript_include_tag("caseadilla/html5shiv") %>
    <![endif]-->

    <script type="text/javascript">
      var current_controller = "<%= controller_name %>";
    </script>

  </head>

  <body>
    <div class="navbar navbar-static-top navbar-default caseadilla-nav" role="navigation">
      <% if current_user != nil %>
        <div class="container hidden-sm hidden-xs">
          <div id="user-info">
            <ul>
              <li>Hello <%= link_to current_user.first_name, caseadilla_user_path(current_user) %></li>
              <li><%= Time.zone.name %></li>

              <% if current_user #.is_admin? %>
                <li><%= link_to 'Users', caseadilla_users_path %></li>
              <% end %>
              <% if current_user #.is_admin? %>
                <li><%= link_to 'Roles', caseadilla_roles_path %></li>
              <% end %>

              <%= render :partial => '/caseadilla/layouts/top_navigation' %>
              <li class="last-item signout"><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
            </ul>
          </div>
        </div>
      <% end %>

      <div class="container">
        <%= link_to(image_tag(caseadilla_config_logo, :alt => caseadilla_config_website_name), {:controller => :caseadilla}, :class => "navbar-brand pull-left") %>
        <button type="button" class="navbar-toggle pull-right" data-toggle="offcanvas" data-target=".navbar-offcanvas" data-canvas="body">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button> 
      </div>

      <div class="container hidden-sm hidden-xs">    
        <ul class="nav navbar-nav">
          <%= render :partial => '/caseadilla/layouts/tab_navigation' %>
        </ul>
      </div>

      <div class='navbar-offcanvas offcanvas navbar-inverse'>
        <div class="container hidden-md hidden-lg">    
          <ul class="nav navbar-nav">
            <%= render :partial => '/caseadilla/layouts/tab_navigation' %>
            <li class="divider"></li>
            <% if current_user != nil %>
              <li><%= link_to "Hello #{current_user.first_name}", caseadilla_user_path(current_user) %></li>
              <% if current_user #.is_admin? %>
                <li><%= link_to 'Users', caseadilla_users_path %></li>
              <% end %>
              <% if current_user #.is_admin? %>
                <li><%= link_to 'Roles', caseadilla_roles_path %></li>
              <% end %>
              <%= render :partial => '/caseadilla/layouts/top_navigation' %>
              <li class="last-item signout"><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div id="content">
        <div class="row">
          <% if content_for?(:sidebar) %>
             <div id="right-column" class="col-md-2">
                <ul class="nav nav-pills nav-stacked content-bottom-padding">
                  <%= yield :sidebar %>
                </ul>
            </div>
            <div id="left-column" class="col-md-10 content-bottom-padding">
          <% else %>
            <div class="col-md-12 content-bottom-padding">
          <% end %>

            <% if flash[:warning] %>
              <div id="error" class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><!-- <span class="sr-only">Close</span> --></button>
                <%= flash[:warning] %>
              </div>
            <% end %>
            <% if flash[:notice] %>
              <div id="notice" class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><!-- <span class="sr-only">Close</span> --></button>
                <%= flash[:notice] %>
              </div>
            <% end %>
            <% if content_for?(:help) %>
              <div id="help" class="alert alert-info alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><!-- <span class="sr-only">Close</span> --></button>
                <%= yield :help %>
              </div>
            <% end %>
            
            <%= yield %>
            
            </div>

        </div>
        <div class="row">
          <div class="col-md-12">
           <hr />
           <footer>
              <p><%= caseadilla_get_footer_string(true) %></p>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>